:root {
  --black: #000;
  --dark: #242426;
  --graphite: #323537;
  --white: #fff;
  --gray: #80858B;
  --light-gray: #AFB2B6;
  --violet: "#7B61FF";
  --hover-transition: 0.3s;
  --general-left-padding: 60px;
  --green: #00A340;
  --yellow: #F3A608;
  --orange: #F45D2D;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  color: var(--white);
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5fr 7.5fr 1fr;
  height: 100vh;
}

.App-footer {
  align-self: end;
  padding-bottom: 64px;
  padding-left: var(--general-left-padding);
  color: var(--light-gray);
  font-weight: 500;
  font-size: 16px;
}


.App-header {
  align-self: center;
  padding-left: var(--general-left-padding);
  font-weight: 600;
  font-size: 40px;
  color: var(--white);
}

.App-cards-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-right: 60px;
}